[submodule "external/opsworks-elasticsearch"]
	path = external/opsworks-elasticsearch
	url = https://github.com/amazonwebservices/opsworks-elasticsearch-cookbook.git
[submodule "external/python"]
	path = external/python
	url = https://github.com/poise/python.git
[submodule "external/monit"]
	path = external/monit
	url = https://github.com/apsoto/monit.git
[submodule "external/elasticsearch"]
	path = external/elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch.git
